<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personal Details</title>
</head>
<body>
<a th:href="@{/people/}">
    Go back
</a>
<h2>Personal Details</h2>
<table>
    <tr>
        <td>Name:</td>
        <td th:text="${person.firstName} + ' ' + ${person.lastName}"></td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td th:text="${person.gender}"></td>
    </tr>
    <tr>
        <td>Birthday:</td>
        <td th:text="${person.dateOfBirth}"></td>
    </tr>
    <tr>
        <td>Height:</td>
        <td th:text="${person.height}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td>
            <div th:each="addressLine: ${person.address.split(';')}">
                <span th:text="${addressLine}"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td>Is eligible:</td>
        <td>
            <form th:if="${isEligible == null}" th:action="@{'/people/' + ${person.id}}" method="get">
                <input type="hidden" name="socialAidButtonClicked" value="true"/>
                <button type="submit">Get Social Aid Amount</button>
            </form>
            <span th:if="${isEligible != null}" th:text="${isEligible}"></span>
        </td>
    </tr>
</table>
<div>
    <h2>Education Details</h2>
</div>
<table>
    <tr th:each="education: ${person.educations}">
        <td th:text="${education.getClass().getSimpleName()}"></td>
        <td th:text="${education.institutionName}"></td>
        <td th:text="${education.enrollmentDate}"></td>
        <td th:text="${education.graduationDate}"></td>
    </tr>
</table>
<table>
    <tr>
        <td>Year</td>
        <td>Month</td>
        <td>Insurance Amount</td>
    </tr>
    <tr>
        <form th:action="@{'/people/' + ${person.id}}" method="post">
            <td><input type="text" name="year" placeholder="Year"/></td>
            <td><input type="text" name="month" placeholder="Month"/></td>
            <td><input type="text" name="amount" placeholder="Insurance amount"/></td>
            <td>
                <button type="submit">Create new record</button>
            </td>
        </form>
    </tr>
    <tr th:each="record: ${person.socialInsuranceRecords}">
        <td th:text="${record.getDate().getYear()}"></td>
        <td th:text="${record.getDate().getMonthValue()}"></td>
        <td th:text="${record.getAmount()}"></td>
    </tr>
</table>
</body>
</html>